

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="col-md-3 col-sm-3" float="left">
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color:cadetblue ;font-style: italic;font-weight: bold">
        Cours des devises
    </div>
    <div class="panel-body">
        <div class="bg_bas">
            <table>
              <tr style="padding: 3px;">
                <th class="quote" align="left" >Pays</th>
                <th class="quote" align="left" >Devise</th>
                <th class="quoteR" align="right">Achat</th>
                <th class="quoteR" align="right">Vente</th>
              </tr>
              <tr>
                <td width="47px" class="quote" align="left"><img alt=""
                  src="assets\us.png" style=width:25px>
                </td>
                <td class="quote" align="left">USD (1) </td>
                <td class="quoteR" align="right">3,0050</td>
                <td width="29%" class="quoteR" align="right">3,0080</td>
              </tr>
              <tr>
                <td width="47px" class="quote" align="left"><img alt=""
                  src="assets\EUR.png" style=width:25px>
                </td>
                <td class="quote" align="left">EUR (1) </td>
                <td class="quoteR" align="right">3,3960</td>
                <td width="29%" class="quoteR" align="right">3,3990</td>
              </tr>              
              <tr>
                <td width="47px" class="quote" align="left"><img alt=""
                  src="assets\japan.png" style=width:25px>
                </td>
                <td class="quote" align="left">JPY (1000) </td>
                <td class="quoteR" align="right">21,4511</td>
                <td width="29%" class="quoteR" align="right">21,4726</td>        
              </tr>    
            </table>
          </div>
    </div>
    
</div>
      




      <div class="panel panel-default">
        <div class="panel-heading"style="background-color:cadetblue;font-style: italic;font-weight: bold">
          Bourse international
        </div>
        <div class="panel-body">
            <div class="bg_bas">
                <table>
                  <tr style="padding: 3px;">
                    <th class="quote" align="left" >Pays</th>
                    <th class="quote" align="left" >Indice</th>
                    <th class="quoteR" align="right">Dern.</th>
                    <th class="quoteR" align="right">Var% </th>
                  </tr>
                  <tr>
                    <td width="47px" class="quote" align="left"><img alt=""
                      src="assets\us.png" style=width:25px>
                    </td>
                    <td class="quote" align="left">Dow jones </td>
                    <td class="quoteR" align="right">24 575,62</td>
                    <td width="29%" class="quoteR" align="right">0,70%</td>
                  </tr>
                             
                  <tr>
                    <td width="47px" class="quote" align="left"><img alt=""
                      src="assets\japan.png" style=width:25px>
                    </td>
                    <td class="quote" align="left">NIK KEI </td>
                    <td class="quoteR" align="right">20 574,63</td>
                    <td width="29%" class="quoteR" align="right">-0.06</td>        
                  </tr>    
                </table>
              </div>
        </div>
    </div>

<div class="panel panel-default">
        <div class="panel-heading"style="background-color:cadetblue;font-style: italic;font-weight: bold">
         Aide
        </div>
        <div class="panel-body">
            <div class="bg_bas">
                <a routerLink="/lien"> Lien Utile</a>
                <br>
                <a href="#"> Clossaire</a>
              </div>
        </div>
    </div>


      </div>