<footer class="page-footer font-small teal pt-4"  >
  <div class="container-fluid text-center text-md-left" >
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <p>Invest Intermédiation: Intermédiaire en bourse – Agrément du CMF n° 38-96 du 4/11/1995
          <br>  Adresse : rue des Lacs de Mazurie – 1053 Les Berges du Lac </p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-6 mb-md-0 mb-3">
        <p> Tél : +216 31 341 310 / +216 71 108 900 - Fax : +216 71 860 346 - Mail : investir@intermediaire.com</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
</footer>