<div class="row"style="width: 620px; height:550px">

  <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="panel-heading" style="background-color:rgb(129,136,175);font-style: italic;font-weight: bold; width: 620px;text-align: center ">
           Présentation
        </div>
<p style="font-style: italic;font-weight: bold;width: 620px;">
  Invest INTERMEDIATION est un intermédiaire en bourse filiale  créée en 1994. Elle est présente sur l'ensemble des métiers de titres à savoir :
<br>
  *L'intermédiation boursière
  <br>
  *La gestion sous mandat de portefeuilles individuels
  <br>
  *Le conseil et la réalisation de placement et d'investissement en Valeurs Mobilières.
  <br> <br>
  Invest INTERMEDIATION forte de son appartenance au groupe Attijari Bank offre ses services sur tout le territoire Tunisien à travers l'étendue du réseau d'agences de Attijari Bank et propose à sa clientèle, en plus de ses métiers propres, la synergie avec les différentes sociétés du groupe Attijari opérant sur le marché financier :
  <br>
  *Le placement dans les OPCVM gérés par Attijari Gestion
  <br>
  *Le conseil et l'ingénierie financière à travers Attijari Finance
  <br> <br>
  Invest INTERMEDIATION offre des produits et des services qui répondent aux standards de qualité et aux attentes des investisseurs les plus exigeants.
  <br><br>
  Invest INTERMEDIATION est composée d'une équipe de spécialistes et de professionnels réunissant conseillers, gestionnaires de portefeuilles et analystes expérimentés mettant leurs compétences et savoir-faire au service de ses clients en toute confidentialité afin de les assister dans la gestion de leurs portefeuilles et le choix des meilleures opportunités d'investissement en bourse.
</p>
</div>
</div>