<div class="row"style="width: 620px; height:550px">

  <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="panel-heading" style="background-color:rgb(129,136,175);font-style: italic;font-weight: bold; width: 620px;text-align: center ">
          Compte Ordinaire Géré sous Mandat
        </div>
<p style="font-style: italic;font-weight: bold;width: 620px;">
<br>
En optant pour un compte géré sous mandat, vous déléguez à nos gestionnaires le soin de gérer votre portefeuille. Nos experts disposent des outils et du savoir-faire nécessaires à une gestion active et optimale de votre portefeuille. Vous bénéficierez ainsi d’une gestion diversifiée avec une recherche constante des meilleures opportunités.
<br><br>
Pour cela, il vous suffit juste de remplir le formulaire de prise de contact en cliquant sur le lien ci-dessous (Contactez nous). Un de nos chargés de clientèle vous contactera ultérieurement pour la concrétisation de l'ouverture de votre compte. Toute notre équipe sera ravie de vous accueillir, vous orienter et de vous conseiller de la meilleure manière en fonction de votre profil.
 <p>
</div>
</div>