<mat-tab-group id="Achven">
    <mat-tab id="Achat" label="Achat" > 
    <br>
    
            <div class="form-group">
               
                    <label>Le titre de la société</label>
                    <select [(ngModel)]="achat.entreprise" class="form-control">
                            <option value="-1">Choisir une soci&eacute;t&eacute;</option>
						
                            <option value="725001" >725001 - ADWYA             </option>
                            
                            <option value="750001" >750001 - AETECH            </option>
                            
                            <option value="230035" >230035 - AIR LIQUDE TSIE   </option>
                            
                            <option value="380070" >380070 - ALKIMIA           </option>
                            
                            <option value="340005" >340005 - AMEN BANK         </option>
                            
                            <option value="150085" >150085 - AMS               </option>
                            
                            <option value="730001" >730001 - ARTES             </option>
                            
                            <option value="714001" >714001 - ASSAD             </option>
                            
                            <option value="655001" >655001 - ASSURANCES SALIM  </option>
                            
                            <option value="300045" >300045 - ASTREE            </option>
                            
                            <option value="360035" >360035 - ATB               </option>
                            
                            <option value="774001" >774001 - ATELIER MEUBLE INT</option>
                            
                            <option value="470010" >470010 - ATL               </option>
                            
                            <option value="160015" >160015 - ATTIJARI BANK     </option>
                            
                            <option value="661001" >661001 - ATTIJARI LEASING  </option>
                            
                            <option value="758001" >758001 - BEST LEASE        </option>
                            
                            <option value="190060" >190060 - BH                </option>
                            
                            <option value="180045" >180045 - BIAT              </option>
                            
                            <option value="310060" >310060 - BNA               </option>
                            
                            <option value="220005" >220005 - BT                </option>
                            
                            <option value="130055" >130055 - BTE (ADP)         </option>
                            
                            <option value="740001" >740001 - CARTHAGE CEMENT   </option>
                            
                            <option value="759001" >759001 - CELLCOM           </option>
                            
                            <option value="764001" >764001 - CEREALIS          </option>
                            
                            <option value="420085" >420085 - CIL               </option>
                            
                            <option value="735001" >735001 - CIMENTS DE BIZERTE</option>
                            
                            <option value="755001" >755001 - CITY CARS         </option>
                            
                            <option value="767001" >767001 - DELICE HOLDING    </option>
                            
                            <option value="330090" >330090 - ELBENE INDUSTRIE  </option>
                            
                            <option value="665001" >665001 - ELECTROSTAR       </option>
                            
                            <option value="741001" >741001 - ENNAKL AUTOMOBILES</option>
                            
                            <option value="721001" >721001 - ESSOUKNA          </option>
                            
                            <option value="757001" >757001 - EURO-CYCLES       </option>
                            
                            <option value="713001" >713001 - GIF-FILTER        </option>
                            
                            <option value="731013" >731013 - HANNIBAL LEASE    </option>
                            
                            <option value="749001" >749001 - HEXABYTE          </option>
                            
                            <option value="320075" >320075 - ICF               </option>
                            
                            <option value="751001" >751001 - LAND OR           </option>
                            
                            <option value="644001" >644001 - MAGASIN GENERAL   </option>
                            
                            <option value="766001" >766001 - Maghreb Intern Pub</option>
                            
                            <option value="672004" >672004 - MODERN LEASING    </option>
                            
                            <option value="100010" >100010 - MONOPRIX          </option>
                            
                            <option value="762001" >762001 - MPBS              </option>
                            
                            <option value="754001" >754001 - NEW BODY LINE     </option>
                            
                            <option value="770001" >770001 - OFFICEPLAST       </option>
                            
                            <option value="753001" >753001 - ONE TECH HOLDING  </option>
                            
                            <option value="250065" >250065 - PLAC. TSIE-SICAF  </option>
                            
                            <option value="570001" >570001 - POULINA GP HOLDING</option>
                            
                            <option value="761001" >761001 - SAH               </option>
                            
                            <option value="773001" >773001 - SANIMED           </option>
                            
                            <option value="734001" >734001 - SERVICOM          </option>
                            
                            <option value="110025" >110025 - SFBT              </option>
                            
                            <option value="659001" >659001 - SIAME             </option>
                            
                            <option value="400005" >400005 - SIMPAR            </option>
                            
                            <option value="667001" >667001 - SIPHAT            </option>
                            
                            <option value="718001" >718001 - SITS              </option>
                            
                            <option value="678001" >678001 - SOMOCER           </option>
                            
                            <option value="729001" >729001 - SOPAT             </option>
                            
                            <option value="760001" >760001 - SOTEMAIL          </option>
                            
                            <option value="653001" >653001 - SOTETEL           </option>
                            
                            <option value="763001" >763001 - SOTIPAPIER        </option>
                            
                            <option value="666001" >666001 - SOTRAPIL          </option>
                            
                            <option value="658001" >658001 - SOTUMAG           </option>
                            
                            <option value="656001" >656001 - SOTUVER           </option>
                            
                            <option value="140070" >140070 - SPDIT - SICAF     </option>
                            
                            <option value="606001" >606001 - STAR              </option>
                            
                            <option value="260095" >260095 - STB               </option>
                            
                            <option value="664001" >664001 - STEQ              </option>
                            
                            <option value="756001" >756001 - SYPHAX AIRLINES   </option>
                            
                            <option value="765001" >765001 - TAWASOL GP HOLDING</option>
                            
                            <option value="744001" >744001 - TELNET HOLDING    </option>
                            
                            <option value="727001" >727001 - TPR               </option>
                            
                            <option value="410020" >410020 - TUNINVEST-SICAR   </option>
                            
                            <option value="738001" >738001 - TUNIS RE          </option>
                            
                            <option value="120040" >120040 - TUNISAIR          </option>
                            
                            <option value="210090" >210090 - TUNISIE LEASING F </option>
                            
                            <option value="779001" >779001 - TUNISIE VALEURS   </option>
                            
                            <option value="769001" >769001 - UADH              </option>
                            
                            <option value="240050" >240050 - UBCI              </option>
                            
                            <option value="390010" >390010 - UIB               </option>
                            
                            <option value="772001" >772001 - UNIMED            </option>
                            
                            <option value="720001" >720001 - WIFACK INT BANK   </option>
    
                    </select>
                
                <hr/>

                <label>La Date de l'ordre:</label>
                <input class="form-control" [(ngModel)]="achat.datedebut" placeholder="La Date de fin " type="date" />
                
                <hr/>
                <label>Le nombre de titres que vous voulez:</label>
                <input class="form-control"  [(ngModel)]="achat.nbtitre" placeholder="Donner le nombre de titre que vous voulez acheter" type="number" />
                <hr/>    

                <label>Le prix:</label>
                <input class="form-control" [(ngModel)]="achat.prix" placeholder="Le prix maximale avec lequel vous acceptez d'acheter" type="number" />
                
                <hr/>
                <label>Période de validité de votre ordre:</label>
                
                <input class="form-control" [(ngModel)]="achat.nbjour" placeholder="Number of days" type="number" />
                <br/>
                <button (click)="saveAchat()" style="float:right;" class="btn btn-danger">Submit</button>
                <button routerLink="/middle" style="float:right;" class="btn btn-danger">LogOut</button>
            </div>
            </mat-tab>
                
    <mat-tab label="Vente" style="width: 200px"> 
            <br>
                <div class="form-group">
                   
                        <label>Les société auquels vous Avez des actions</label>
                        <select class="form-control">
                                <option value="-1">Choisir une soci&eacute;t&eacute;</option>
                            
                                <option value="725001" >725001 - ADWYA             </option>
                                
                                <option value="750001" >750001 - AETECH            </option>
                                
                                <option value="779001" >779001 - TUNISIE VALEURS   </option>
                                
                                <option value="769001" >769001 - UADH              </option>
                                
                                <option value="240050" >240050 - UBCI              </option>
                                
                                <option value="390010" >390010 - UIB               </option>
                                
                                <option value="772001" >772001 - UNIMED            </option>
                                
                                <option value="720001" >720001 - WIFACK INT BANK   </option>
        
                        </select>
                    </div>
                    <hr/>
    
                    <label>La Date de l'ordre:</label>
                    <input class="form-control" placeholder="La Date de fin " type="date" />
                    
                    <hr/>
    
                    <label>Le nombre de titres que vous voulez vendre:</label>
                    <input class="form-control" placeholder="Donner le nombre de titre que vous voulez vendre" type="text" />
                    <hr/>    
    
                    <label>Le prix:</label>
                    <input class="form-control" placeholder="Le prix minimale avec lequel vous acceptez de vendre" type="text" />
                    
                    <hr/>
                    <label>Période de validité de votre ordre:</label>
                    <input class="form-control" placeholder="Number of days" type="text" />
                    <br/>
                    <button type="submit" style="float:right;" class="btn btn-danger">Submit</button>
                    <button routerLink="/middle" style="float:right;" class="btn btn-danger">LogOut</button>
    </mat-tab>
</mat-tab-group>