<div class="row">

  <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="panel-heading" style="background-color:gray;font-style: italic;font-weight: bold; width: 620px;text-align: center ">
           Séance du {{currentdate|date:'fullDate'}}  (Flux retardé de 15mn)
        </div>
    <table style="width:620px; height:130px" >
                  
        <tr>
          <td width="47px" class="quote" align="left">
          </td>
          <td class="quote" align="left"style="text-indent:15px;color:cadetblue ;font-weight: bold">Cloture</td>
          <td class="quoteR" align="right" style="color:cadetblue ;font-weight: bold">   Dernier</td>
          <td width="29%" class="quoteR" align="right" style="color:cadetblue ;font-weight: bold">var%</td>
        </tr>
        <tr>
          <td width="47px" class="quote" align="left" style="color:cadetblue ;font-weight: bold">TUNINDEX
          </td>
          <td class="quote" align="left"style="text-indent:15px">6 949,17 </td>
          <td class="quoteR" align="right">7 008,89</td>
          <td width="29%" class="quoteR" align="right">0,86 %</td>
        </tr>              
        <tr>
          <td width="47px" class="quote" align="left" style="color:cadetblue ;font-weight: bold">TUNINDEX20
          </td>
          <td class="quote" align="left" style="text-indent:15px">3 089,19 </td>
          <td class="quoteR" align="right">3 116,22</td>
          <td width="29%" class="quoteR" align="right">0,87 %</td>        
        </tr>    
      </table>
      <img src="assets\image4.png" style="width: 620px;margin-left:100px;
      margin-right: auto; height: 400px ">
      












      
  </div>

   <!-- CORE JQUERY  -->
   <script src="assets/js/jquery-1.10.2.js"></script>
   <!-- BOOTSTRAP SCRIPTS  -->
   <script src="assets/js/bootstrap.js"></script>
     <!-- CUSTOM SCRIPTS  -->
   <script src="assets/js/custom.js"></script>
     