<div class="row"style="width: 620px; height:550px">
    
  <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="panel-heading" style="background-color:rgb(129,136,175);font-style: italic;font-weight: bold; width: 620px;text-align: center ">
           Nos Métiers
        </div>



<p style="font-style: italic;font-weight: bold;width: 620px;">
  Pour la Clientèle Particuliers et les Investisseurs Institutionnels ATTIJARI INTERMEDIATION consacre son effort sur :
<br>
  *L’analyse financière et la recherche pour conseiller au mieux sa clientèle dans le choix de leur placement en bourse.
  <br>  
  *Le suivi régulier et l’analyse des tendances du marché afin de saisir les opportunités qui s’offrent sur le marché.
  <br>
  *L’établissement des meilleures stratégies d’allocation en fonction du profil de la clientèle.
  <br><br>
  Pour la Clientèle Entreprises en quête de conseil en matière de financement, de levée de fonds, de restructuration et d’introduction en bourse ATTIJARI INTERMEDIATION vous oriente vers les structures spécialisées du groupe Attijari, Attijari Finance en l’occurrence pour vous assister à réaliser nos objectifs.
  <br>
  Pour la Clientèle Entreprises en excédent de trésorerie ATTIJARI INTERMEDIATION propose une optimisation de la gestion de trésorerie, notamment, à travers le placement dans les OPCVM gérés par Attijari Gestion.
</p>

</div>
</div>