<div class="container-fluid text-center text-md-left" style="width:620px;height:550px" >
  <div class="row">
    <div class="col-md-6 mt-md-0 mt-3">
      <div class="panel-heading" style="background-color:rgb(129,136,175);font-style: italic;font-weight: bold; width: 620px;text-align: center ">
          Equipes et Competences
       </div>
      <br>
      <p><strong style="color:crimson">Directeur</strong> <br> Maya GHORBEL<br>
          +216 31 341 310 / +216 71 108 900<br>
          maya.ghorbel@attijaribank.com.tn<br>
          <strong style="color:crimson">Sales Traders</strong><br>
          Marwa CHEOUR<br>
          +216 31 341 319 / +216 29 710 789<br>
          marwa.cheour@attijaribourse.com.tn<br>
          Malek HORCHANI<br>
          +216 31 341 315 / +216 29 912 201<br>
          Horchani.malek@attijaribourse.com.tn<br>
          <strong style="color:crimson">Trading & Enregistrement</strong><br>
          Mariem HAMROUNI<br>
          +216 31 341 331<br>
          mariem.hamrouni@attijaribourse.com.tn <br>
          <strong style="color:crimson">Gestionnaire de portefeuille</strong><br>
          Chokri Ben OSMAN<br>
          +216 31 341 313<br>
          chokri.benosman@attijaribourse.com.tn <br> </p>
    </div>
<br>
    <hr class="clearfix w-100 d-md-none pb-3">
    <div class="col-md-6 mb-md-0 mb-3">
      <p> <br><br> <strong style="color:crimson">Contrôle et Conformité </strong><br>
          Hana ALOUI<br>
          +216 31 341 328 <br>
          hana.aloui@attijaribourse.com.tn <br>
          <strong style="color:crimson">Back Office & Opérations </strong> <br>
          Rochdi BEN ABDA<br>
          Responsable des opérations<br>
          +216 31 341 312 <br>
          rochdi.benabda@attijaribourse.com.tn <br>
          Samia BATA<br><br>
          Responsable Administratif et Financier<br>
          +216 31 341 332<br>
          samia.bata@attijaribourse.com.tn<br></p>
    </div>
  </div>
</div>