<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div class="col-md-3 col-sm-3" float="right" style="margin-right:20px" >
   <div class="panel panel-default" style="width:350px">
        <div class="panel-heading" style="background-color:cadetblue;font-style: italic;font-weight: bold">
          Marché (Différé de 15 min)
        </div>
        <div class="panel-body">
            <div class="bg_bas">
                <table>
                  
                  <tr>
                    <td width="47px" class="quote" align="left">Hausses
                    </td>
                    <td class="quote" align="left"style="color:green;text-indent:15px">19</td>
                    <td class="quoteR" align="right">   Quantité</td>
                    <td width="29%" class="quoteR" align="right">427 202</td>
                  </tr>
                  <tr>
                    <td width="47px" class="quote" align="left">Baisses
                    </td>
                    <td class="quote" align="left"style="color:red;text-indent:15px">22 </td>
                    <td class="quoteR" align="right">Transactions</td>
                    <td width="29%" class="quoteR" align="right"> 1 315</td>
                  </tr>              
                  <tr>
                    <td width="47px" class="quote" align="left">Cotées
                    </td>
                    <td class="quote" align="left">58/83 </td>
                    <td class="quoteR" align="right">Capitaux(TND)</td>
                    <td width="29%" class="quoteR" align="right">3 299 665</td>        
                  </tr>    
                </table>
              </div>
        </div>
        
    </div>

  
  
 
 
      <div class="panel panel-default" style="width:350px">
           <div class="panel-heading" style="background-color:green;font-style: italic;font-weight: bold">
             5 Plus Forte Hausses
           </div>
           <div class="panel-body">
               <div class="bg_bas">
                   <table>
                     
                      <tr style="padding: 3px;">
                          <th class="quote" align="left" >Valeurs</th>
                          <th class="quote" align="left" >Cours</th>
                          <th class="quoteR" align="right">Var %</th>
                          <th class="quoteR" align="right">Titres</th>
                        </tr>
                        <tr>
                     <tr>
                       <td width="47px" class="quote" align="left">TIJARI
                       </td>
                       
                       <td class="quote" align="left"style="text-indent:15px"> <i class="fal fa-arrow-from-bottom" style="size:17px;color:green"></i>34,48 </td>
                       <td class="quoteR" align="right">4,83%</td>
                       <td width="29%" class="quoteR" align="right"> 10 091</td>
                     </tr>   

                     <tr>
                       <td width="47px" class="quote" align="left">BIAT
                       </td>
                       <td class="quote" align="left">116,00</td>
                       <td class="quoteR" align="right">3,57%</td>
                       <td width="29%" class="quoteR" align="right">7 823</td>        
                     </tr> 

                     <tr>
                        <td width="47px" class="quote" align="left">TELNET
                        </td>
                        <td class="quote" align="left">11,48</td>
                        <td class="quoteR" align="right">3,51%</td>
                        <td width="29%" class="quoteR" align="right">13 996</td>        
                      </tr>  

                      <tr>
                          <td width="47px" class="quote" align="left">ECYCL
                          </td>
                          <td class="quote" align="left">14,99</td>
                          <td class="quoteR" align="right">3,45%</td>
                          <td width="29%" class="quoteR" align="right">58 144</td>        
                        </tr>    
                   </table>
                 </div>
           </div>
           
       </div>

       <div class="panel panel-default" style="width:350px">
          <div class="panel-heading" style="background-color:#AE3135;font-style: italic;font-weight: bold">
            5 Plus Forte Baisses
          </div>
          <div class="panel-body">
              <div class="bg_bas">
                  <table>
                    
                     <tr style="padding: 3px;">
                         <th class="quote" align="left" >Valeurs</th>
                         <th class="quote" align="left" >Cours</th>
                         <th class="quoteR" align="right">Var %</th>
                         <th class="quoteR" align="right">Titres</th>
                       </tr>
                       <tr>
                    <tr>
                      <td width="47px" class="quote" align="left">AMS
                      </td>
                      
                      <td class="quote" align="left"style="text-indent:15px"> <i class="fal fa-arrow-from-bottom" style="size:17px;color:green"></i>0,75 </td>
                      <td class="quoteR" align="right">-3,84%</td>
                      <td width="29%" class="quoteR" align="right">1 511</td>
                    </tr>   

                    <tr>
                      <td width="47px" class="quote" align="left">SOMOC
                      </td>
                      <td class="quote" align="left">1,08</td>
                      <td class="quoteR" align="right">-3,57%</td>
                      <td width="29%" class="quoteR" align="right">37 867</td>        
                    </tr> 

                    <tr>
                       <td width="47px" class="quote" align="left">TJL
                       </td>
                       <td class="quote" align="left">12,52</td>
                       <td class="quoteR" align="right">-2,94%</td>
                       <td width="29%" class="quoteR" align="right">632</td>        
                     </tr>  

                     <tr>
                         <td width="47px" class="quote" align="left">UBCI
                         </td>
                         <td class="quote" align="left">25,22</td>
                         <td class="quoteR" align="right">-2,92%</td>
                         <td width="29%" class="quoteR" align="right">885</td>        
                       </tr>    
                  </table>
                </div>
          </div>
          
      </div>
   
  </div>
     

  
