<div class="row"style="width: 620px; height:550px">

  <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="panel-heading" style="background-color:rgb(129,136,175);font-style: italic;font-weight: bold; width: 620px;text-align: center ">
          Compte Ordinaire Libre
        </div>
<p style="font-style: italic;font-weight: bold;width: 620px;">
<br>
  Le compte libre est un compte classique dont la gestion est confiée à son titulaire. C'est en effet, le compte ordinaire que toute personne peut détenir. Contrairement au compte géré sous mandat, le compte libre est sous la seule responsabilité de son détenteur.
<br><br>
  L'ouverture d'un compte libre vous donne droit à la passation de vos ordres en bourse ainsi qu'à l'accès à une information personnalisée sur la situation de votre portefeuille et les dernières opérations que vous avez réalisées (tenue de compte, relevé périodique). Il vous permet également d'accéder à tous les services et avantages offerts à nos clients.
  <br><br>
  En optant pour ce type de compte, vous pourrez passer vos ordres d'achat ou de vente de plusieurs manières (en ligne via le présent site web, par téléphone, par fax ou passer directement à nos locaux).
  <br><br>
  Pour passer vos ordres en ligne, vous devez vous adresser à Attijari Intermédiation et remplir le formulaire d'adhésion au service « Attijari Bourse » pour avoir votre code client ainsi que votre code d'accès Internet.
  <br><br>
  Pour cela, il vous suffit juste de remplir le formulaire de prise de contact en cliquant sur le lien ci-dessous (Contactez nous). Un de nos chargés de clientèle vous contactera ultérieurement pour la concrétisation de l'ouverture de votre compte. Toute notre équipe sera ravie de vous accueillir, vous orienter et de vous conseiller de la meilleure manière en fonction de votre profil.
  <br><br>
  Vous pourrez ainsi passer vos ordres d'achat ou de vente de plusieurs manières (en ligne via le présent site web, par téléphone, par fax ou passer directement à nos locaux).
  <br>
 <p>
</div>
</div>