<div class="row"style="width:620px ; height:550px">

  <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="panel-heading" style="background-color:rgb(129,136,175);font-style: italic;font-weight: bold; width: 620px;text-align: center ">
          Compte Epargne en Actions (CEA)
      </div>



    <p style="font-style: italic;font-weight: bold;width: 620px;">
    <br>
    Le Compte Epargne en Actions (CEA) est un moyen d'épargne à moyen terme qui vous permet d'investir en bourse tout en bénéficiant d'avantages fiscaux très intéressants.
    <br>
    Les montants déposés dans le Compte Epargne en Actions devraient être placés en permanence:
    <br>
    En actions cotées, à concurrence d'un minimum de 80%
    <br>
    Le reliquat de 20% au maximum en Bon de Trésor Assimilables
    <br>
    Le choix des actions est fait, soit par l'épargnant (compte libre), soit par nos soins (compte géré).
    <br>
    L'épargnant peut céder ses actions en bourse à tout moment, mais à la condition de racheter d'autres actions dans les délais prévus par la réglementation régissant ce produit.
    <br>
    Les placements en CEA sont déductibles du revenu imposable, dans la limite de 50.000 dinars par an. Le bénéfice de cet avantage est réalisé seulement dans l´année de l’ouverture et est assorti d'une condition de non retrait des montants versés pendant une période de 5 ans à compter du premier janvier de l'année qui suit celle de l’ouverture. A défaut, toute somme retirée avant échéance donne lieu au paiement de l'impôt et pénalités y afférentes. Cependant, des conditions particulières de retrait anticipé (au bout de 3 ans) sont prévues sans pénalité de retards tel qu’indiqué dans le décret n°99-2773 du 13 décembre 1999. En outre, les droits rattachés aux actions, les actions gratuites, les actions nouvelles souscrites, les dividendes encaissés et les plus-values réalisés ne sont pas soumis au blocage sont exonérés d'impôt et disponibles à tout moment.
    <br>
    Pour cela, il vous suffit juste de remplir le formulaire de prise de contact en cliquant sur le lien ci-dessous (Contactez nous). Un de nos chargés de clientèle vous contactera ultérieurement pour la concrétisation de l'ouverture de votre CEA. Toute notre équipe sera ravie de vous accueillir, vous orienter et de vous conseiller de la meilleure manière en fonction de votre profil.

    <p>
  </div>
</div>

  